---
import { useTranslations } from "../../i18n/utils";
import { lenguageList } from "../../i18n/ui";

const currentLang = Astro.currentLocale || "es";
const translate = useTranslations(currentLang as keyof typeof lenguageList);
---
<section class="w-full h-full flex justify-center items-center">
  <p class="sm:text-2xl md:text-3xl text-xl font-semibold text-white">
    {translate("home.skills")}
  </p>
</section>