---
import type { Skills } from "../helpers/type";
import { Icon } from "astro-icon/components";

interface Props {
  data: Skills;
  t: (key: string) => string;
}

const { data, t } = Astro.props;
---
<article
  class="flex flex-col m-2 items-center gap-3 p-5 w-full max-w-[120px] sm:max-w-[140px] bg-white/10 rounded-xl 
         hover:bg-white/20 hover:scale-105 transition-all duration-300 shadow-lg border border-white/10"
>
  {data.logo && (
    <Icon
      name={data.logo}
    class="drop-shadow-xl w-12 h-12 sm:w-16 sm:h-16 md:w-20 md:h-20"
    />
  )}

  <span class="text-white font-semibold text-lg text-center tracking-wide">
    {data.name}
  </span>
</article>
