---
import LinkedIn from "../components/icons/IconLinkedin.astro";
import CV from "../components/icons/IconCv.astro";
import GitHub from "../components/icons/IconGitHub.astro";
import Instagram from "../components/icons/IconInstagram.astro";
import { useTranslations } from "../i18n/utils";
import { lenguageList } from "../i18n/ui";

const currentLang = Astro.currentLocale || "es";

const traslateLabels = useTranslations(
  currentLang as keyof typeof lenguageList
);
---

<div
  class="home flex flex-col md:flex-row items-center justify-center gap-6 md:gap-10 w-11/12 md:w-3/4 h-[92vh] mx-auto"
>
  <!-- Foto -->
  <div class="rounded-full w-32 sm:w-40 md:w-52 aspect-square overflow-hidden">
    <img
      src="/Foto_perfil.jpg"
      alt="Foto de perfil"
      class="w-full h-full object-cover"
    />
  </div>
  <!-- Texto -->
  <div
    class="name flex flex-col gap-2 max-w-md mt-4 md:mt-0 text-center md:text-left"
  >
    <p class="text-xl sm:text-2xl md:text-3xl font-semibold">
      Jesus Alexis Alicea Gonzalez
    </p>
    <p class="text-sm sm:text-base md:text-lg text-gray-600">
      {traslateLabels("home.profile.carrer")}
    </p>

    <!-- Social -->
    <div
      class="social flex gap-3 sm:gap-4 mt-2 justify-center md:justify-start"
    >
      <a href="/CV_Alexis_Alicea.pdf" target="_blank" rel="noopener noreferrer">
        <div
          class="w-10 h-10 sm:w-12 sm:h-12 md:w-14 md:h-14 rounded-full bg-black flex items-center justify-center hover:bg-gray-800 transition"
        >
          <CV />
        </div>
      </a>
      <a
        href="https://www.linkedin.com/in/alexisalicea132/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div
          class="w-10 h-10 sm:w-12 sm:h-12 md:w-14 md:h-14 rounded-full bg-black flex items-center justify-center hover:bg-gray-800 transition"
        >
          <LinkedIn />
        </div>
      </a>
      <a
        href="https://www.instagram.com/alexisalicea31/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div
          class="w-10 h-10 sm:w-12 sm:h-12 md:w-14 md:h-14 rounded-full bg-black flex items-center justify-center hover:bg-gray-800 transition"
        >
          <Instagram />
        </div>
      </a>
      <a
        href="https://github.com/AlexisAliceaG"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div
          class="w-10 h-10 sm:w-12 sm:h-12 md:w-14 md:h-14 rounded-full bg-black flex items-center justify-center hover:bg-gray-800 transition"
        >
          <GitHub />
        </div>
      </a>
    </div>
  </div>
</div>
