---
import Home from "../pages/en/Home.astro";
import Skills from "../pages/en/Skills.astro";
import Nav from "../components/Nav.astro";
import Layout from '../layouts/Layout.astro';
import ProfessionalExperience from '../pages/es/ProfessionalExperience.astro';
import Projects from '../pages/es/Projects.astro';

---
<Layout>
  <section class="w-[80%] h-[100vh] flex justify-center items-center flex-col">
	  <Nav/>
    <Home />
  </section>
    <section class="w-[80%] h-[100vh] flex justify-center">
    <ProfessionalExperience />
  </section>
  <section class="w-[80%] h-auto sm:h-[100vh] md:h-auto flex justify-center">
    <Skills />
  </section>
  <section class="w-[80%] h-[100vh] flex justify-center">
    <Projects />
  </section>
</Layout>
