<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/src/styles/global.css">
		<title>Alexis Alicea</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	body {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'Roboto', sans-serif;
	}
	/* ===========================
   1. Móviles pequeños (≤ 480px)
   =========================== */
	@media (max-width: 480px) {
	/* estilos para móviles pequeños */
	}

	/* ===========================
	2. Móviles estándar (481–768px)
	=========================== */
	@media (min-width: 481px) and (max-width: 768px) {
	/* estilos para móviles vertical/horizontal */
	}

	/* ===========================
	3. Tablets (769–1024px)
	=========================== */
	@media (min-width: 769px) and (max-width: 1024px) {
	/* estilos para tablets */
	}

	/* ===========================
	4. Laptops pequeñas (1025–1280px)
	=========================== */
	@media (min-width: 1025px) and (max-width: 1280px) {
	/* estilos para laptops pequeñas */
	}

	/* ===========================
	5. Pantallas grandes (≥ 1281px)
	=========================== */
	@media (min-width: 1281px) {
	/* estilos para monitores grandes */
	}

</style>
