---
import Card from "../../components/CardProfessionalExperience.astro";
import { useTranslations } from "../../i18n/utils";
import { lenguageList } from "../../i18n/ui";
import { experiences } from "../../helpers/data";

const currentLang = Astro.currentLocale || "es";
const translate = useTranslations(currentLang as keyof typeof lenguageList);
---

<section class="w-full h-full flex justify-center items-center flex-col">
  <p class="sm:text-2xl md:text-3xl text-xl font-semibold text-white">
    {translate("home.professional_experience")}
  </p>
  <ol class="relative border-l-2 border-white mt-4">
    {experiences.map((exp) => <Card data={exp} t={translate} />)}
  </ol>
</section>
